<!--core\dashboard\templates\dashboard\includes\scripts\external_js.html-->
{% load static %}
{% load i18n %}

<!-- jQuery - Local -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap JS - Local -->

<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script>
window.addEventListener('load', function() {
    if (typeof bootstrap === 'undefined') {
        console.error('{% trans "Bootstrap yüklenemedi!" %}');
    } else {
        console.log('{% trans "Bootstrap başarıyla yüklendi" %}');
    }
});
</script>