{% load static %}
{% load i18n %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="csrf-token" content="{{ csrf_token }}">
<meta name="description" content="{% block meta_description %}{{ site_settings.site_description|default:_('Dashboard Yönetim Paneli') }}{% endblock %}">
<meta name="keywords" content="{% block meta_keywords %}{% trans 'dashboard, yönetim, panel' %}{% endblock %}">
<meta name="author" content="{% block meta_author %}{{ site_settings.site_name|default:_('Dashboard') }}{% endblock %}">